In [1]:
# Import Splinter, BeautifulSoup, and Pandas
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [2]:
!pip install splinter

Requirement already satisfied: splinter in /Users/a56k/opt/anaconda3/lib/python3.8/site-packages (0.14.0)
Requirement already satisfied: selenium>=3.141.0 in /Users/a56k/opt/anaconda3/lib/python3.8/site-packages (from splinter) (3.141.0)
Requirement already satisfied: six in /Users/a56k/opt/anaconda3/lib/python3.8/site-packages (from splinter) (1.15.0)
Requirement already satisfied: urllib3 in /Users/a56k/opt/anaconda3/lib/python3.8/site-packages (from selenium>=3.141.0->splinter) (1.25.9)

In [3]:
!pip install selenium

Requirement already satisfied: selenium in /Users/a56k/opt/anaconda3/lib/python3.8/site-packages (3.141.0)
Requirement already satisfied: urllib3 in /Users/a56k/opt/anaconda3/lib/python3.8/site-packages (from selenium) (1.25.9)

In [4]:
!pip install webdriver_manager

Requirement already satisfied: webdriver_manager in /Users/a56k/opt/anaconda3/lib/python3.8/site-packages (3.3.0)
Requirement already satisfied: requests in /Users/a56k/opt/anaconda3/lib/python3.8/site-packages (from webdriver_manager) (2.24.0)
Requirement already satisfied: configparser in /Users/a56k/opt/anaconda3/lib/python3.8/site-packages (from webdriver_manager) (5.0.1)
Requirement already satisfied: crayons in /Users/a56k/opt/anaconda3/lib/python3.8/site-packages (from webdriver_manager) (0.4.0)
Requirement already satisfied: idna<3,>=2.5 in /Users/a56k/opt/anaconda3/lib/python3.8/site-packages (from requests->webdriver_manager) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/a56k/opt/anaconda3/lib/python3.8/site-packages (from requests->webdriver_manager) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/a56k/opt/anaconda3/lib/python3.8/site-packages (from requests->webdriver_manager) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in /Users/a56k/opt/anaconda3/lib/python3.8/site-packages (from requests->webdriver_manager) (2020.6.20)
Requirement already satisfied: colorama in /Users/a56k/opt/anaconda3/lib/python3.8/site-packages (from crayons->webdriver_manager) (0.4.3)

In [5]:
# Path to chromedriver
!which chromedriver

In [6]:
from webdriver_manager.chrome import ChromeDriverManager

In [7]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======

[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Driver [/Users/a56k/.wdm/drivers/chromedriver/mac64/88.0.4324.96/chromedriver] found in cache

In [8]:
!pip install html5lib

Requirement already satisfied: html5lib in /Users/a56k/opt/anaconda3/lib/python3.8/site-packages (1.1)
Requirement already satisfied: webencodings in /Users/a56k/opt/anaconda3/lib/python3.8/site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in /Users/a56k/opt/anaconda3/lib/python3.8/site-packages (from html5lib) (1.15.0)

In [9]:
!pip install lxml

Requirement already satisfied: lxml in /Users/a56k/opt/anaconda3/lib/python3.8/site-packages (4.5.2)

In [10]:
# Visit the mars nasa news site
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

# Optional delay for loading the page
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)

True

In [11]:
# Convert the html browser to a soup object and than quit the browser
html = browser.html
news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('ul.item_list li.slide')

In [12]:
slide_elem.find("div", class_='content_title')

In [13]:
# Use the parent element to find the first `a` tag and save it as `news_title`
news_title = slide_elem.find("div", class_='content_title').get_text()
news_title

'Could the Surface of Phobos Reveal Secrets of the Martian Past?'

In [14]:
# Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_="article_teaser_body").get_text()
news_p

'The Martian moon Phobos orbits through a stream of charged atoms and molecules that flow off the Red Planetâ€™s atmosphere, new research shows.'

## Scrape Mars Data - Featured Image

In [15]:
# Visit URL
url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'
browser.visit(url)

In [18]:
# Find and click the full image button
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [19]:
# Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [20]:
# Find the relative image url
img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel

'image/featured/mars1.jpg'

In [21]:
# Use the base URL to create an absolute URL
img_url = f'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/{img_url_rel}'
img_url

'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars1.jpg'

### Mars Fact

In [22]:
df = pd.read_html('http://space-facts.com/mars/')[0]

df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 Ã— 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [23]:
df.columns=['description', 'value']
df.set_index('description', inplace=True)
df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 Ã— 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 Â°C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [24]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 Ã— 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 Â°C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

## Challenge